h1{

  text-align: center;
  font-size: 45px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 20px;
}

.items-container{
  text-align: left;
}

input{
width: 100%;
}
.kg-row{
  margin: 7px 5px;
}

.kg-button{
  min-width: 50px;

}